* {
  font-family: 'Montserrat', sans-serif;
}

.fontAwesome { 
  font-family: 'Helvetica', FontAwesome, sans-serif; 
}

input{
  flex-grow: 0;
  flex: none;
  align-self: center;
  order: 0;
  background: #FFFFFF;
  position: static;
  border: 2px solid gainsboro;
  padding-left: 15px;
  margin: 0px 0px;
  height: 48px;
  width: 624px;
}